{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% include 'message.html' %}

<div>
    <h1 class="green">MEDECINE QUICK FINDER </h1>
    <h2>We show you your prescribed medecine close to you </h2>
  <!--div class="login-register-box"-->
  <div>
  <div class="login_top">
    <button><a id="login" href="/login"><h2>LOGIN</h2></a></button>
  </div>
  <div class="signup_top">
    <button><a id="signUp" href="/sign-up"><h2>REGISTER</h2></a></button>
  </div>
  </div>
  <div class="search-box">
    <form method="POST">
      <div class="subscribe-form">
        <label for="Search"></label>
          <input type="text" name="Search" placeholder="type here to search" required>
          <input  class="input-style" type="submit" value="Search">
      </div>
    </form>
  </div>


{% endblock %}
