{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% include 'message.html' %}
  <form method="POST" class="login-form">
    <h3 class="login-register-box">Login</h3>
    <div>
      <label for="email"></label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div>
      <label for="password"></label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <br />
    <button type="submit">Login</button>
  </form>
{% endblock %}
