.alert-error {
    padding: 8px;
    background-color: red;
    color: white;
    opacity: 1;
    transition: opacity 1s;
    }

.alert-success {
    padding: 8px;
    background-color: green;
    color: white;
    opacity: 1;
    transition: opacity 1s;
    }

.fade-out {
  opacity: 0;
}
